{
  "Auth": {
    "RequiredApiKey": null,
    "DashboardApiKey": null,
    "ProtectV1WithDashboardKey": true
  },
  "OperatorSettings": {
    "PollInterval": "00:00:02"
  },
  "Cors": {
    "AllowedOrigins": [
      "http://localhost:3000"
    ]
  }
}
